/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Resetting default styling and setting font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: #0c0c0c;
    justify-content: center;
    align-items: center;
}

/* Login form styling */
.login_form {
    width: 100%;
    max-width: 435px;
    background: #000000;
    border-radius: 6px;
    padding: 41px 30px;
    border: 2px solid #dadada;
    outline: none;
    border-color: #ff2800;
    box-shadow: 0 0 10px #ff2800;
    padding-bottom: 130px;
}

.login_form .logo{
    border-radius: 10px;
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.login_form h3 {
    font-size: 20px;
    text-align: center;
    color: white;
}


.login_form p {
    color: white;
    text-align: center;
    font-weight: 500;
}


form .input_box label {
    display: block;
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
}

/* Input field styling */
form .input_box input {
    width: 100%;
    height: 57px;
    border-radius: 5px;
    background: #000000;
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;
    border: 2px solid #dadada;
    outline: none;
    border-color: #ff2800;
    box-shadow: 0 0 10px #ff2800;
    color: white;
}

form .input_box input:focus {
    border-color: #626cd6;
}


form .input_box {
    position: relative;
}


/* Login button styling */
#order{
    width: auto;
    text-decoration: none;
    height: 55px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    margin-left: 70px;
    border-radius: 5px;
    background: #ff2800;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 8px;
    transition: 0.3s ease;
    border: 2px solid #dadada;
    outline: none;
    border-color: #ff2800;
    box-shadow: 0 0 10px #ff2800;
    position: absolute;
}

#order:hover {
    background: #00ff01;
    border: 2px solid #dadada;
    outline: none;
    border-color: #00ff01;
    box-shadow: 0 0 10px #00ff01;
}

#home{
    width: auto;
    text-decoration: none;
    height: 55px;
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 15px;
    margin-left: 70px;
    border-radius: 5px;
    background: #ff2800;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 63px;
    transition: 0.3s ease;
    border: 2px solid #dadada;
    outline: none;
    border-color: #ff2800;
    box-shadow: 0 0 10px #ff2800;
    position: absolute;
}

#home:hover {
    background: #ff0000;
    border: 2px solid #dadada;
    outline: none;
    border-color: #ff0000;
    box-shadow: 0 0 10px #ff0000;
}

@media (max-width: 768px) { 
    .container { 
        flex-direction: column; 
    } 
} 